body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    
}

.slider {
    position: relative;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.nav-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-bar button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.nav-bar button:hover {
    background: rgba(0, 0, 0, 0.8);
}
